<div class="general">
    <section class="general__conte">
        <div class="conte__group">
            <section class="group_equipo">
                <h1>Equipo 1</h1>
            </section>
            <section class="group_anotar">
                <button class="anotar" (click)="Anotar()" (click)="per_ganar()">Anotar 1</button>
            </section>
        </div>
        <div class="conte__iniciar">
            <button class="iniciar">Iniciar</button>
        </div>
        <div class="conte__group">
            <section class="group_equipo">
                <h1>Equipo 2</h1>
            </section>
            <section class="group_anotar">
                <button class="anotar" (click)=" Anotar2() " (click)="per_ganar()" (click)="enviar()">Anotar 2</button>
            </section>
        </div>
    </section>
</div>
