
body {
    font-family:'MyFont';
}
.general{
    display: flex;
    justify-content: center;
    background-image: url("../../assets/imagen_fut.jpg");
    background-size: cover;
    background-position: center center;
    align-items: center;
    height: 100vh;
    font-family:'MyFont';
  
}
.equipos_marcador{
    width: 45vw;
    height: 27vw;
    background:black;
    opacity: 0.9;
    border-radius: 1.8vw;
    background-image: url("../../assets/fondo2.jpg");
    background-size: cover;
    background-position: center;
    position: relative;

   
}
.equipos_marcador__mostrar{
    display:flex;
    justify-content:space-around ;
    padding: 1.8vw;
}
.equipos_marcador__mostrar p{
    color: black !important;
    font-size: 2.4vw;
    text-align: center;
    font-weight: 700;
    
}
.equipos_marcador__mostrar input{
    width: 9vw;
    height: 2.8vw;
    border-radius: 0.8vw;
    text-align: center;
    border:none;
    padding: 0.4vw;
    outline: none;
    margin-left: 1.5vw;  
}
.equipos_marcador__cuenta{
    display:flex;
    justify-content:space-around ;
    
}
.cuenta__resultados{
    width: 14vw;
    height: 14vw;
    border-radius:50%;
    background-image:url("../../assets/balon_futbol-removebg-preview.png");
    background-size: cover;
    background-position:center;
    
}
.cuenta__resultados h1{
    justify-content: center;
    align-items:center;
    text-align: center;
    color: white;
    font-size: 9.6vw;
    font-weight: 600;
    margin-top: 1.5vw;
}
.equipos_marcador__tiempo{
    display:flex;
    width: 100%;
    justify-content:center;
    align-items:center;
    height: 4vw;
}
.tiempo__defi{
    padding: 2vw;
    background-image:url("../../assets/balon_futbol-removebg-preview.png");
    background-size: cover;
    background-position:center;
     
}
.equipos_marcador__tiempo h1{
    justify-content: center;
    align-items:center;
    text-align: center;
    color: white;
    font-size: 2.1vw;
    font-weight: 500;
    margin-top: 0.2vw;
}
.equipos_marcador__tiempo p{
    justify-content: center;
    align-items:center;
    text-align: center;
    color: white;
    font-size: 2.8vw;
    font-weight: 400;
    margin-top: 0.5vw;
    cursor: pointer;
}
.equipos_marcador__tiempo:hover{
    
}
.conte__hijo{
    margin-top: 1.4vw;
    justify-content: center; 
}
.tiempo_personal{
    display: none !important;
}

